<div id="index-title">Welcome to Blocipedia</div>

<div class="container">
  <div class="jumbotron" style="border: 2px solid grey;">
    <center><h3>Create and share Markdown Wikis</h3></center>
    <center><a type="button" class="btn btn-success btn-lg" href="<%= new_wiki_path %>">Create a new Wiki!</a></center>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <h3 class="text-center">Create as many public wikis as you want!</h3>
      <p><center><%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-success' %></center></p>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <h3 class="text-center">Create private wikis!</h3>
      <% if current_user.present? && current_user.premium? %>
        <p><center><%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success' %></center></p>
      <% elsif current_user.present? && current_user.standard? %>
        <p><center><%= link_to "Upgrade plan for Private Wikis", new_charge_path, class: 'btn btn-primary' %></center></p>
      <% else %>
        <p><center><%= link_to "Sign up and upgrade!", new_user_registration_path, class: 'btn btn-primary' %></center></p>
      <% end %>
    </div>
  </div>
</div>
